/*----------  Colors  ----------*/
$primary-color: red;
$page-bg : lighten($primary-color, 40%);
$header-bg: darken($primary-color, 20%);
$header-txt-color: white;

/*----------  Fonts  ----------*/
$font-serif: 'Slabo 27px';

