@charset "UTF-8";

@import url('normalize.css');
@import url('font-awesome.css');
@import url('b15cons.css');

html{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight:300;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}





/*----------  close btn  ----------*/

.close{
	width:20px;
	height:20px;
	border: solid 1px #666;
	position: absolute;
	right:15px;
	top:15px;
	cursor: pointer;
}
.close:hover{
	border-color: #000;
}
.close:after,
.close:before{
	content:"";
	width:90%;
	height:2px;
	background-color: #666;
	position: absolute;
	left:1px;
	top:8px;
}
.close:hover:after,
.close:hover:before{
	background-color: #000;
}
.close:after{
	transform:rotate(45deg)
}
.close:before{
	transform:rotate(-45deg)
}

.kg-green{
	color:green
}

.star-wrapper{
	border: solid 1px red;
	color:#DEB200
}


.logo{
	font-size:120px;
	text-align: center;
	margin: 20px;
	color:royalblue
}


/*----------  customising Icon  ----------*/

.container{
	padding: 15px;
	margin:15px;
	background-color: #fff;
	transition:all 250ms ease;
}
@media (min-width:768px){
	.container{
		width:750px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width:980px) {
	.container{
		width:960px;
	}
}
@media (min-width:1200px) {
	.container{
		width:1170px;
	}
}


.title{
	text-align: center;
	font-size:60px;
	position: relative;
	padding-bottom: 70px;
}
.title:before{
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	font-size:120px;
	line-height: 80px;
	color:#999;
}


body{background-color: red;}

@media (min-width:460px) {
	body{background-color: green;}
}
@media (min-width:768px) {
	body{background-color: orange;}
}



