/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

block related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  word-spacing: normal | <length>
~  letter-spacing : normal | <length>
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to all the elements
    ^ Can animate

~  vertical-align : baseline | sub | super | text-top | text-bottom | middle | top | bottom | <percentage> | <length>
    ^ default value is baseline
    ^ This property doesn't gets inherited
    ^ This property can be applied to very few elements, like img, input, td, tr, table
    ^ you can animate
https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align


~  text-align : left | right | center | justify
    ^ default value is left - depends on page direction
    ^ This property gets inherited
    ^ This property can be applied to all the elements
    ^ Can't animate

~  text-indent
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to block level elements
    ^ Can't animate

~  white-space: normal | pre | nowrap | pre-wrap | pre-line
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to block level elements
    ^ Can't animate
    https://developer.mozilla.org/en/docs/Web/CSS/white-space


~  display: block | inline | inline-block | 
            table | table-row | table-cell | 
            list-item | none
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  content – 
~  text-overflow - clip | ellipsis 




auto;
inherit;

*/

/* ==========================================================================
   Demo of Block related properties
   ========================================================================== */

.word-letter-spacing{
    word-spacing:1em;
    letter-spacing:-.2em;
    transition:all 250ms ease;
}
.word-letter-spacing:hover{
    letter-spacing:.5em
}


.dabba{
    text-align: center;

    width: 300px;
    height: 200px;
    border: solid 1px red;
    margin:20px auto;
    transition:all 250ms ease;
}

.dabba img{
    vertical-align: middle;
}

.tbl{
    border: solid 1px green;
    width:50%;
}
.tbl td{
    border: solid 1px green;
    text-align: center;
    vertical-align: top;
}
.va-demo{
    width:200px;
    height:200px;
    border: solid 1px red;
    background-color: #FED2F7;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    break
}
.form-row input {vertical-align: middle;}
.text-indent-demo{
    text-indent:30px;
}

.white-space-demo{
    white-space:pre-wrap
}

/**
 *
 * Display Property demo
 *
 */

.dis-demo{
    border: solid 1px red;
    margin:10px;
    display:none;
}


/*----------  Image rollovers  ----------*/

.menu-container{
    margin: 15px auto;
    width:800px;
    border: solid 1px #CCC;
    border-radius:10px;
    padding: 10px;
    background-color: #E7C5FF;
}
.menu-container:after{
    content:"";
    clear: both;
    display: block;
}
.menu-container span{
    float: left;
}
.menu-container img{
    border-radius: 50%;
    display: block;
    width:115px;
    margin: 20px 0;
    cursor: pointer;
}
.menu-container .info{
    margin-left: 115px;
    border-radius:10px;
    padding: 10px;
    background-color: #FFF;
    display:none
}
.menu-container:hover .info{
    display:block
}


/*----------  Tabbed view  ----------*/
.tabbed-view{
    margin: 15px auto;
    width:800px;
    border: solid 1px #CCC;
    border-radius:10px;
    padding: 10px;
    background-color: #E7C5FF;
    position: relative;
    min-height: 400px;
}
.tabbed-view:after{
    content:"";
    clear: both;
    display: block;
}
.tab{
    float: left;
}
.tab img{
    border-radius:50%;
    cursor: pointer;
}
.tab .info{
    background-color: #fff;
    border-radius:10px;
    padding:10px;
    position: absolute;
    right:10px;
    top:120px;
    left:10px;
    display: none;
    height:0;
    overflow: hidden;
    transition: all 250ms ease;
}
.tab:hover .info{
    display: block;
    height:220px;
    transition: all 250ms ease;
}


/*----------  Photo grid  ----------*/
.blocks{
    margin: 15px auto;
    width:1200px;
    border: solid 1px #CCC;
    border-radius:10px;
    padding: 20px;
    background-color: #E7C5FF;
    text-align: center;
}
.section-heading{
    border-bottom: solid 4px #3B00D1;
    font-size:30px;
}
.photo{
    border:solid 1px #CCC;
    padding:10px;
    background-color: #fff;
    display: inline-block;
    border-radius:4px;
    width:20%;
    margin:0 8px 10px 0;
    vertical-align: top;
}
.photo img{
    width:100%;
}
.photo p{
    margin:4px 0 0;
}
.photo p span{
    padding-right: 6px;
}
.photo p span:before{
    content:"\20B9";
    padding-right: 3px;
}


/*----------  widget  ----------*/

.row1{
    margin:30px auto;
    max-width:1000px;
    border: dotted 1px #CCC;
    padding:10px;
    background-color: #F5F3F3;
}

.widget{
    border: solid 1px #DEDEDE;
}
.widget .title{
   background-color: #2864DD;
}
.widget .title:after{
   content:"";
   display: block;
   clear: both;
}
.widget .title h2{
   color:#FFF;
   margin:0 55px 0 0;
   line-height: 40px;
   font-size:20px;
   padding-left: 20px;
   border: solid 1px red;
   white-space:nowrap;
   overflow:hidden;
   text-overflow:ellipsis;
   position: relative;
}
.widget .title h2:hover:after{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    background-color: #2864DD;
    color:#FFF;
    padding:3px 10px;
    font-size:11px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: sans-serif;
    content: attr(data);
    white-space:normal;
    overflow:visible;
    text-overflow:clip;
}
.close{
    width:30px;
    height:30px;
    float: right;
    margin: 5px 20px 0 0;
    background-color: #fff;
    border-radius:50%;
    border: solid 1px red;
}
.content{
    background-color: #fff;
    padding:10px
}