/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  position: static | relative | absolute | sticky  |  fixed
    ^ default value static
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
    eg: 
      .someclass{position:relative}
      .someclass{position:absolute}
      .someclass{position:sticky}
      .someclass{position:fixed}

~  top   : <length>
~  bottom: <length>
~  right : <length>
~  left  : <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate

~  z-index: auto | <integer>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate



~  visibility: visible | hidden | collapse
Applies to all elements
overflow: visible | hidden | scroll | auto
overflow-x
overflow-y


auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Position related properties
   ========================================================================== */

.red    {background-color: red;}
.blue   {background-color: blue;}
.green  {background-color: green;}
.crimson{background-color: crimson;}
.violet {background-color: violet;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.indigo {background-color: indigo;}

/*----------  POsition Static  ----------*/
.demo1{
  border: solid 1px red;
  margin: 5px;
  top:100px;
}

/*----------  Position Relative  ----------*/
.demo2{
  border: solid 1px red;
  margin: 5px;
  width: 100px;
  height: 60px;  
  position: relative;
}

.demo2.green{
  bottom: 40px;
  left: 30px;
}
.demo2.orange{
  left: 200px;
}
.demo2.red{
  right: 0;
  transition: all 250ms ease;
}
.demo2.red:hover{
  right: 200px;
}

/*----------  Position Absolute  ----------*/

.abs-wrapp{
  width: 1000px;
  border: solid 4px red;
  margin: 20px auto;
  position: relative;
}

.demo3{
  border: solid 1px red;
  margin: 5px;
  height: 60px;
  width: 150px;
}
div.demo3.green{
  background-color: rgba(0,200,0,.5);
  margin: auto;

  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

/*----------  Banner styles  ----------*/

.banner{
  width: 1000px;
  border: solid 5px #CCC;
  margin: 0 auto;
  position: relative;
}
.banner img{
  width: 100%;
  display: block;
}
.banner h2{
  background-color: rgba(0,0,0,.75);
  padding: 20px;
  margin: 0;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;right: 0;
  text-align: center;
}
.arrow{
  width: 0;
  height: 0;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;

}
.arrow.left{
  border-right-color: blue;
  left: -60px;
}
.arrow.left:hover{border-right-color: green;}
.arrow.right{
  border-left-color: blue;
  right: -60px;
}

.arrow.right:hover{border-left-color: green;}



/*----------  activity blocks  ----------*/

.wrapper{
  width: 1000px;
  border: solid 1px #CCC;
  padding: 15px;
  margin: 25px auto
}

.activity{
  padding: 5px 0 0 30px;
  border-left: solid 1px #547df9;
  position: relative;
}
.activity:before{
  width: 9px;
  height: 9px;
  content: "";
  position: absolute;
  left: -5px;
  top: 5px;
  border-radius: 50%
}
.activity p{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3c;
}
.activity div{
  font-size: 13px;
  font-weight: 300;
  color: #9a9a9a;
  padding-bottom: 25px;
}
.bd-red{border-left-color: #ea546d;}
.bd-red:before{background-color: #ea546d;}

.bd-blue{border-left-color: #547df9;}
.bd-blue:before{background-color: #547df9;}

.bd-green{border-left-color: #88b669;}
.bd-green:before{background-color: #88b669;}

.bd-orange{border-left-color: #f6da40;}
.bd-orange:before{background-color: #f6da40;}

/*----------  Slider styles  ----------*/

.slider{
  width:1000px;
  margin:25px auto;
  border: solid 10px #E5E5E5;
  position: relative;
}
  .slide{}
  .slide img{
    width:100%;
    height:auto;
    display: block;
  }
  .slide h2{
    position:absolute;
    right:0;
    top:35%;
    width: 45%;
    margin:0;
    padding:10px;
    background-color:rgba(0,0,0,.6);
    color:#FFF;
    text-align: right;
  }
  .arrows{
    width:40px;
    height:40px;
    background-color: #F2DCFF;
    border-radius:50%;
    position: absolute;
    top:0;bottom:0;
    margin-top: auto;
    margin-bottom: auto;
    cursor:pointer;
  }
  .arrows.left{left: 20px; }
  .arrows.right{right: 20px; }

  .arrows:hover{
    background-color: #A000FE;
  }
  .arrows:after{
    content:"";
    width:20px;
    height:20px;
    border-right: solid 2px #FFF;
    border-bottom: solid 2px #FFF;
    position: absolute;
    top:10px;
    left:10px
  }
  .arrows.left:after{
    transform: rotate(135deg)
  }
  .arrows.right:after{
    transform: rotate(-45deg)
  }


.slide-nav{
  padding-left: 0;
  margin:0;
  list-style: none;
  position: absolute;
  bottom:20px;
  left:0;right:0;
  text-align: center;
}

.slide-nav li{
  display: inline-block;
  padding:0 6px;
}
.slide-nav li a{
  display: block;
  width:25px;
  height:25px;
  background-color: #E156FF;
  border-radius: 50%;
  text-decoration: none;
  color:#FFF;
  font-size:12px;
  line-height: 25px;
}



/*----------  Tilted banner  ----------*/

.tilted-banner{
  background-color: #F3FB98;
  min-height: 460px;
  position: relative;
}
.img-wrap img{
  width:100%;
  height:auto;
}
.tilted{
  border: solid 3px red;
  position: absolute;
  transform:rotate(45deg);
  overflow:hidden;
  top:0; bottom:0;
  margin-top: auto;
  margin-bottom: auto;
}
.tilted-small{
  width:100px;
  height:100px;
}
.tilted-large{
  width:200px;
  height:200px;
}
.tilted .content{
  transform:rotate(-45deg) scale(1.32)
}
.tilted-1{
  left:16%;
}
.tilted-2{
  right:0; left:0;
  margin-left: auto;
  margin-right: auto;
}
.tilted-3{
  right:16%;
}


