@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Vidaloka');

body{
  font-family: 'Lato', sans-serif;
}
.site-header h1 a{
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  color: #FF5722;
  text-decoration: none;
}
.site-links{}
.site-links li{}
.site-links li a{
	text-decoration: none;
	color:#303F9F;
	text-transform: uppercase;
	font-size:14px;
	line-height: 28px;
}
.site-links li a:hover,
.site-links li.selected a{
	color:#FF5722;
}
