.row{
	margin: 10px -15px;
	background-color: #F0D5FB;
}

.row:after{
	clear: both;
	display: block;
	content:"";
}

.col {
	padding: 15px;
	border: dotted 1px red;
}

.col-half{
	float: left;
	width:50%;
}
.col-third{
	float: left;
	width:33.333%;
}
