/*This is the way you write css comment*/

/*These are External Styles - we use link tag in html file to link a external css file
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	We define Selectors inside internal and external stylesheets


	selector-name {
		css-property : value;
		css-property : value;
		css-property : value;
		css-property : value;
		css-property : value;
		css-property : value
	}

Types of Selectors
------------------------------

Universal Selector
*/
*{
	box-sizing: border-box;
}

/* Universal reset 
*{ 
	margin: 0;
	padding: 0;
}
*/
.dabba *{

}

/**
 *
 * Tag or Type selector
 * ++++++++++++++++++++++++++++++++++++++++++++++
 */

html{
	font-size:16px;
	color:#444;
	font-family: 'Open sans', sans-serif;
	font-weight: 300;
}

li{
	font-style: italic;
}
/* grouping of selectors */
h1,
h2,
h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}
h1{
	color:crimson;
	border-bottom: solid 4px green;
}

/**
 *
 * class or dot selector
 * ++++++++++++++++++++++++++++++++++++++++++++++
 */

/* 
	Naming Convention
	------------------------------

	1. starts with .
	2. it can be alpha-numeric
	3. canot begin with number
	4. you can use hypen, underscore, camelCase
	5. http://bdavidxyz.com/blog/how-to-name-css-classes/ 
	6. https://css-tricks.com/semantic-class-names/ 
	7. You have to apply this multiple elements using class attribute

*/

.bdr-btm-style{
	border-bottom-style: dashed;
}
.bdr-color{
	border-color: #0E51C0;
}

/**
 *
 * ID or dot selector
 * ++++++++++++++++++++++++++++++++++++++++++++++
 */

/* 
	Naming Convention
	------------------------------

	1. starts with #
	2. it can be alpha-numeric
	3. canot begin with number
	4. you can use hypen, underscore, camelCase
	5. http://bdavidxyz.com/blog/how-to-name-css-classes/ 
	6. https://css-tricks.com/semantic-class-names/ 
	7. You have to apply this multiple elements using class attribute

*/

#site-header{
	background-color: #B5C624;
}

/**
 *
 * Psuedo selectors
 * ++++++++++++++++++++++++++++++++++++++++++++++
 */

/* 

	:link, :hover, :visited, :active,
	:before, :after, :first-child, :last-child, :nth-child, :focus


Complete list of Psuedo classes
	https://developer.mozilla.org/en/docs/Web/CSS/Pseudo-classes

	
Complete list of Psuedo Elements
	https://developer.mozilla.org/en-US/docs/Web/CSS/pseudo-elements


	1. They are normally used in combintaion of other selectors

*/

.site-links a:link,
.site-links a:visited{
	text-decoration: none;
	color:white;
	border: solid 1px red;
	padding:5px;
	display: inline-block;
}
.site-links a:hover{
	background-color: #FFF;
	color:#B5C624;
}
.site-links a:active{
	background-color: #F00;
	color:#FFF;
}
.site-links a:focus{
	background-color: #0F0;
	color:#FFF;
}

.site-links a:before{
	content:"Chapter - ";
	border: dashed 1px white;
	margin-right: 10px;
}
.site-links a:after{
	content:" :-  ";
}

/**
 *
 * Descendant selectors
 * ++++++++++++++++++++++++++++++++++++++++++++++
 */

.site-links li{font-style: normal;}
.site-links li:first-child{font-weight: bold;}
.site-links li:last-child{
	font-weight: bold;
	border-bottom: solid 4px red;
	
}
.site-links li:last-child a{
	color:green
}

/* 

color:
background-color:
font-size:
border: style width color;

 */


.sidebar{
	width:180px;
	margin:20px auto;
	border: dashed 1px #CCC;
	padding:10px;
	background-color: #fff;
}

.sidebar li:nth-child(odd) a{
	background-color: #F00;
}
.sidebar li:nth-child(even) a{
	background-color: #00F;
}

